@import "tailwindcss";

/* Pastikan clip-path awal tertutup untuk animasi reveal */
.featured-image-wrapper {
    clip-path: inset(100% 0 0 0);
    will-change: clip-path;
}

/* Hilangkan cursor asli saat di area website */
body {
transition: background-color 0.8s ease, color 0.8s ease;
}

/* Biar kursor tetap kelihatan di background hitam */
#cursor {
    mix-blend-mode: difference;
}

/* Transisi halus untuk navigasi */
nav li:hover {
    letter-spacing: 0.1em;
}

/* Menghilangkan custom cursor di perangkat layar sentuh */
@media (hover: none) and (pointer: coarse) {
  #cursor {
    display: none !important;
  }
  body {
    cursor: auto !important;
  }
}